jQuery(($) => {

  <% config = DaimonNews::Gatekeeper.config %>

  const SIGN_IN_URL = '<%= config.sign_in_url %>'
  const LOGIN_STATUS_URL = '<%= config.sign_in_status_url %>'

  const displayPostBody = () => {
    $('.loading-indicator-container').css('display', 'none')
    $('article.post').css('display', 'block')
  }

  const loadingHtml = '<div class="loading-indicator-container">'
                        + '<div class="<%= config.indicator_type %> loading-indicator"><%= config.loading_message %></div>'
                        + '<div class="loading-indicator-text"><%= config.loading_message %></div>'
                    + '</div>'

  $('article.post').after(loadingHtml)

  if(SIGN_IN_URL == '' || LOGIN_STATUS_URL == '') {
    return
  }

  if ($('article.post').length == 0) {
    return
  }

  if ($('#preview-notification').length >= 1) {
    return
  }

  $.ajax({
    type: 'GET',
    url: LOGIN_STATUS_URL,
    xhrFields: {
      withCredentials: true
    }
  }).then((isSignedIn) => {
    if (isSignedIn) {
      displayPostBody()
      return
    }

    let isUSerOnly = $('.post__body').html().match(/<%= config.member_only_keyword %>/) != null

    if (isUSerOnly) {
      let current_path = window.location.href
      location.href = `${SIGN_IN_URL}?<%= config.parameter_name_to_return %>=${current_path}`
    } else {
      displayPostBody()
    }
  })

})